body {
  background: #252A62;
  background: linear-gradient(90deg, #252A62 27%, #343B81 100%);
}

.container {
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
  background: #fff;
  margin: auto;
  margin-top: 2%;
  width: 35%;
  background: rgba(245, 245, 245, 0.699);
  text-align: center;
}

form {
  height: 80%;
  width: 100%;
}

.section {
  padding: 2%;
  width: 100%;
}

.langList {
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  padding-top: 3%;
  border: 2px #252A62;
  width: 80%;
}

.title {
  color: #252A62;
  font-size: 4vh;
  font-family: serif;
  padding-bottom: 2%;
}

.field > input {
  font-family: serif;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  padding-top: 3%;
  border: 2px #252A62;
  height: 100%;
  line-height: 100%;
  width: 80%;
}

.register_button {
  font-family: serif;
  padding: 6% auto;
  border-radius: 10px;
  background: white;
  border: 2px solid #252A62;
}

.button > input {
  padding: 6% auto;
  border-radius: 10px;
  height: 100%;
  width: 80%;
  margin-top: 3%;
}

.errors {
  color: red;
  font-size: 4vh;
}

.signup {
  text-align: right;
}

.section > .signup > a {
  color: #252A62;
  text-decoration: none;
}

.submitbtn {
  width: 80%;
}

.section > .signup > a:visited {
  text-decoration: none;
  color: #252A62;
}